.h1{
    font-family: "Pacifico", cursive;
    font-size: 120px;
    margin-top:290px;
    margin-left: 46%;
}

body{
    background-image: url("../img/backmasha.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.h3{
    font-family: "Pacifico", cursive;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 900px;
}

.audio{
    top: 88%;
    margin-left: 270px;
    position: absolute;
}

.img-home{
    animation-name: div-anim;
    animation-duration: 10000ms;

    animation-delay: 1ms;
    animation-iteration-count: infinite;



    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 500px;
    transition: all 1000px;
    margin-left:230px;
    top: 280px;
    position: absolute;
}



.home{
    font-family: "Pacifico", cursive;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    color: black;
    margin-top: -2%;
    margin-left: 96%;
    position: absolute;
}

@keyframes div-anim {
    25% {
        background-image:url("../img/masha2.png");
    }
    50% {
        background-image:url("../img/masha3.png");

    }
    75% {
        background-image:url("../img/masha_home.jpg");

    }

    100% {
        background-image:url("../img/masha4.png");
        }

}
/* Стилі для екранів шириною 600px і менше (телефонів) */
@media only screen and (max-width: 600px) {
    .h1 {
        font-size: 60px;
        margin-top: 150px;
        margin-left: 10%;
    }

    .h3 {
        font-size: 30px;
        margin-left: 10%;
    }

    .audio {
        top: 600px;
        margin-left: 10%;
        position: absolute; /* Змінив позицію на відносну для резиновості */
    }

    .img-home {
        width: 100%;
        height: 300px; /* Задайте висоту, яка підходить для телефонів */
        margin: 0;
        top: 150px;
        position: relative; /* Змінив позицію на відносну для резиновості */
    }

    .home {
        font-size: 20px;
        margin-top: 36%;
        margin-left: 79%;
    }

    @keyframes div-anim {
        25% {
            background-image: url("../img/masha2.png");
        }
        50% {
            background-image: url("../img/masha3.png");
        }
        75% {
            background-image: url("../img/masha_home.jpg");
        }
        100% {
            background-image: url("../img/masha4.png");
        }
    }
}
