.h1{
    font-family: "Pacifico", cursive;
    font-size: 110px;
    margin-top:110px;
    margin-left:850px;
}

body{
    background-image: url("../img/backnadia.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.h3{
    font-family: "Pacifico", cursive;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 850px;
}

.img-home{
    animation-name: div-anim;
    animation-duration: 10000ms;

    animation-delay: 1ms;
    animation-iteration-count: infinite;



    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 500px;
    transition: all 1000px;
    margin-left:430px;
    top: 160px;
    position: absolute;
}

.audio{
    margin-top: 100px;

margin-left: 1000px;}


.home{
    font-family: "Pacifico", cursive;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    position: absolute;
    color: black;
    margin-top: 19%;
    margin-left: 27%;
    position: absolute;
}

@keyframes div-anim {
    25% {
        background-image:url("../img/nadia.png");
    }
    65% {
        background-image:url("../img/nadia2.png");

    }


    100% {
        background-image:url("../img/nadia3.png");
        }

}

@media only screen and (max-width: 1200px) {

    body{
        background-image: url("../img/backnadia.png");
        background-repeat: repeat;
        background-size: cover;
        background-position: 1000px;
    }

    .h1,
    .h3
    {

        margin-left: 10%; /* Adjust the value based on your design */
    }

    .img-home {
        margin-left: 3%;
        margin-top: 260%;
        margin-bottom: 10px;
    }
    .audio{
    position: absolute;
    margin-top: 70px;
    margin-left: 50px;
}

.home{
   position: absolute;

   margin-top: 900px;
   margin-bottom: 10px;
   margin-left: 350px;
}


}

